
.intro {
  color: white;
  margin-left: 40vh;
  margin-top: 30vh;
  font-size: 3.5vh;
  font-family: 'Space Mono', monospace;
  letter-spacing: .15em;
}

.icons {
  display: flex;
  font-size: 4vh;
}

.icons>a {
  display: flex;
  color: white;
  border: 2px solid white;
  margin-top: 3vh;
  margin-right: 3.7vh;
}

.icons a {
  transition: box-shadow 0.3s ease-in-out;
}

.icons a:hover {
  box-shadow: 0px 0px 30px white;
}
