.list ul li {
  list-style-type: none;
  padding: 2.1vh;
}

.list ul li a {
  text-decoration: none;
  padding: 2vh;
  color: white;
  font-size: 2.06vh;
  font-family: "Share Tech Mono", monospace;
}

.list ul {
  display: flex;
  flex-direction: row;
  margin-right: 15vh;
  margin-top: 1.5vh;
}

.list ul li {
  transition: transform 0.32s ease-in-out;
}

.list ul li:hover {
  color: rgb(232, 231, 236);
  text-shadow: 0 0 7px rgb(219, 218, 226), 0 0 10px rgb(229, 227, 235);
  transform: scale(1.3);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1201vh;
}

.Debojit {
  text-decoration: none;
  color: white;
  font-size: 2.5vh;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 0.5vh;
}

.logo {
  border: 2px solid white;
  border-radius: 2px;
  margin-left: 26vh;
  margin-top: 2.5vh;
  padding: 10px;
}

.Debojit:hover {
  text-shadow: 0 0 7px rgb(219, 218, 226), 0 0 10px rgb(229, 227, 235);
}