.Footer {
    position:fixed;
    display: flex;
    bottom:0;
    justify-content: center;
    color: white;
    padding: 20px;
    font-size: 1.6vh;
    width:100%;
    font-family: 'Space Mono', monospace;
    background-color: #18181B;
}