.Footer {
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    font-size: 1.6vh;
    font-family: 'Roboto Slab', serif;
    margin-top: 48.81vh;
    background-color: #1D1D1D;
}